{% extends 'base-nonav.html' %}
{% load static %}
{% block content %}
<div class="content-section">
  <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Log In</legend>
          <div>
             <label for="username">Username:</label><br>
            <input type="text" name="username" id="username">
          </div>
          <div>
             <label for="password">Password:</label><br>
          <input type="password" name="password" id="password">
          </div>
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit" id="login">Login</button>
      </div>
  </form>
  <div class="border-top pt-3">
      <small class="text-muted">
          Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
      </small>
  </div>
</div>
{% endblock %}
