{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div>
                   <label for="username">Username:</label><br>
                  <input type="text" name="username" id="username">
                </div>
                <div>
                <div>
                   <label for="email">Email:</label><br>
                  <input type="text" name="email" id="email">
                </div>
                <div>
                   <label for="password">Password:</label><br>
                <input type="password" name="password" id="password">
                </div>
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Sign Up</button>
                  </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
