{% extends 'base.html' %}
{% load static %}

{% block title %}Fooqey Shop - Produc tInfo{% endblock title %}
{% block header %}
<style>
#pricetag{
    width: 262px;
    height: 45px;
    left: 107px;
    top: 791px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 2px;
    margin: 18px 0;
  }

#buyButton {
    background_color: #BCE8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

#wishlistButton {
    background_color: #BCE8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
</style>
{% endblock header %}

{% block content %}
{{ block.super }}
<div id="body" class="container"><!-- body container-->
    
    <div class="d-flex justify-content-center mt-5">
        <img class="img-fluid" src="https://via.placeholder.com/300">
    </div>

    <h5 >{{ produk.nama }}</h5>
    
    <hr>
    <div><!-- row harga -->
        <h3 id="pricetag">{{ produk.harga }}<h3>
        <p id="stock">{{ produk.stok }} available<p>
        <button type="button" class="btn btn-addtocart" id="{{produk.id}}">Add to Cart</button>
    </div><!-- row harga -->
    <hr>

    <ul class="nav nav-tabs">
        <li id="desc" class="nav-item">
            <a data-toggle="tab" href="#description" class="nav-link">Description</a>
        </li>
        <li id="desc" class="nav-item">
            <a data-toggle="tab" href="#review" class="nav-link">Review</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="description" class="tab-pane fade in active">
            <div>
                <div>
                    <p>{{ produk.deskripsi }}</p>
                </div>
            </div>
        </div>
        <div id="review" class="tab-pane fade">
            <div>
                <table class="table">
                    <tbody>
                        {% for ulasan in produk.ulasan_set.all %}
                      <tr>
                        <td>
                        <div class="container" style="display: flex;">
                            
                            <div class="foto" style="display: flex; align-items: center; margin-right: 10px;">
                                <img src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg" alt="profile" width="75em" height="75em" style="border-radius: 50px;">
                            </div>
                            <div class="info" style="display:flex; flex-direction: column;">
                                <div class="nama" style="display: flex;">{{ ulasan.nama }}</div>
                                <div class="tanggal" style="display: flex;">{{ ulasan.tanggal }}</div>
                                <div class="bintang" style="display: flex;">
                                {% for bintang in ulasan.bintang|get_range %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1024px-Gold_Star.svg.png" alt="star" width="25em" height="25em">
                                {% endfor %}
                                
                                </div>
                                <div class="komentar">
                                    {{ ulasan.pesan }}
                                </div>
                            </div>
                                
                        </div>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <form id="form" method="POST">
                <div class="form-group">
                    <label for="nama">Name</label>
                    <div class="form">
                    {% csrf_token %}
                    {{ form.nama }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="mata_kuliah">Review</label>
                    <div class="form">
                    {% csrf_token %}
                    {{ form.comment }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form">
                    {% csrf_token %}
                    {{ form.bintang }}
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ produk.pk }}">
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>

</div> <!-- body container-->
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'keranjang/keranjang.js' %}"></script>
<script type="text/javascript" src="{% static 'transaksi_cepat/transaksi_cepat.js' %}"></script>
{% endblock script %}




