{% extends 'base.html' %}
{% load static %}

{% block title %}Fooqey Shop - Transaksi Cepat{% endblock title %}
{% block header %}
<style>
th{
    color: #272442;
    width: 30px;
}
td{
    width: 30px;
}
.riwayat-content{
    text-align: center;
}

.riwayat-container{
    background-color: f2f2f2;
    border: solid;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px;
    min-width: 200px;
}
.riwayat-container:hover{
    background-color: lightgrey;
    cursor: pointer;
}

table, th, td{
            border: solid;
}
table {
    width: 100%;
}
</style>
{% endblock header %}

{% block content %}
{{ block.super }}
<div class="container">
    {% for riwayat in riwayats %}
        <div class="riwayat-container" id="{{ riwayat.pk }}">
            <h5>{{ riwayat.tanggal }}</h5>
            <div class="riwayat-content" id="content{{ riwayat.pk }}"></div>
        </div> 
    {% endfor %}
</div>
{% endblock content %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="{% static 'transaksi_cepat/transaksi_cepat.js' %}"></script>
{% endblock script %}




