{% extends 'base.html' %}
{% load static %}


{% block title %}FOOQEY SHOP - Ulasan{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-deskripsi-tab" data-toggle="tab" href="#nav-deskripsi" role="tab" aria-controls="nav-deskripsi" aria-selected="true">Deskripsi</a>
      <a class="nav-item nav-link" id="nav-ulasan-tab" data-toggle="tab" href="#nav-ulasan" role="tab" aria-controls="nav-ulasan" aria-selected="false">Ulasan</a>
      
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-deskripsi" role="tabpanel" aria-labelledby="nav-deskripsi-tab">

        <div style="display: flex;">
            {% for barang in deskripsi %}
            <p>{{ barang.deskripsi }}</p>
            {% endfor %}
        </div>

    </div>
    <div class="tab-pane fade" id="nav-ulasan" role="tabpanel" aria-labelledby="nav-ulasan-tab">
        <table class="table">
            <tbody>
                {% for barang in data %}
              <tr>
                <td>
                <div class="container" style="display: flex;">
                    
                    <div class="foto" style="display: flex; align-items: center; margin-right: 10px;">
                        <img src="https://pbs.twimg.com/profile_images/716487122224439296/HWPluyjs.jpg" alt="profile" width="75em" height="75em" style="border-radius: 50px;">
                    </div>
                    <div class="info" style="display:flex; flex-direction: column;">
                        <div class="nama" style="display: flex;">{{ barang.nama }}</div>
                        <div class="tanggal" style="display: flex;">{{ barang.tanggal }}</div>
                        <div class="bintang" style="display: flex;">
                        {% for bintang in barang.bintang|get_range %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1024px-Gold_Star.svg.png" alt="star" width="25em" height="25em">
                        {% endfor %}
                        
                        </div>
                        <div class="komentar">
                            {{ barang.pesan }}
                        </div>
                    </div>
                        
                </div>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
{% endblock content %}

{% block script %}
{% endblock script %}

