.main-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.title{
    width: 85vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
}

.entry {
    width:85vw;
    border: 0px;
    border-radius: 20px;
    background-color: #FBF9F9;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}
