{% extends 'base.html' %}
{% load static %}

{% block title %}FOOQEY SHOP - Wishlist{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="headline" style="text-align: center; font-size: 250%;">
        <p>Wishlist</p>
    </div>

    <div class="flex-container" style="display: flex; justify-content: center; margin: 2% 5%;">
        <div style="flex-grow: 7; margin-right: 5%;">
            <form method="POST">
                <div class="input-group mb-3" >
                    <input type="text" class="form-control" placeholder="Search your wishlist" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">search</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="flex-grow: 1;">
            <select class="form-control" id="sortBy">
                <option>Date</option>
                <option>Price</option>
                <option>Rating</option>
            </select>
        </div>
    </div> 

    <div style="margin: 0 5%;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="text-align:center">Items</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="text-align:center;"><img src="{% static 'blanket.jpg' %}" height="20%"></th>
                <td>
                    <table>
                        <tr><strong>Selimut hangat banget</strong></tr>
                        <tr><p>Rp150.000,-</p></tr>
                    </table>
                </td>
                <td>
                    <div style="margin-bottom: 50px;">
                        <button type="button" class="btn btn-primary btn-block">Buy</button>
                    </div>
                    <div style="float: right;">
                        <button type="button" class="btn btn-outline-dark">Remove</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block script %}
{% endblock script %}
