{% extends 'base.html' %}
{% load static %}

{% block title %}Fooqey Shop - Landing{% endblock title %}

{% block header %}
<style>
.logo {
    font-family: "Roboto";
    font-weight: bold;
}

.landing-sidebar {
    background: #272442;
    padding: 0 60px;
}

.landing-sidebar > div {
    padding: 80px 0px;
}


.landing-button {
    margin-bottom: 15px;
    font-size: 1.1rem;
    padding: 10px 15px;
}

.landing-sidebar-lead {
    font-family: 'Roboto';
}

.katalog-card {
    background: #E4F6F5;
    margin-bottom: 20px
}

.katalog-list {
    flex-direction: column;
    margin: 50px 0;
}

.nav-fooq > *:not(:last-child) {
   margin-right: 20px;
}

.hidden {
    display: none;
}

@media (min-width: 1200px) {
    .landing-nav {
        text-align: left !important;
    }

    .katalog-list {
        flex-direction: row;
        margin: 0;
    }

    .katalog-card {
        margin-right: 20px;
        margin-bottom: 0;
    }

}
table, th, td{
            border: solid;
}
table{
    width: 350px;
    text-align: center;
    margin: 10px 0px;
}
#transaction-content-container{
    margin: 20px;
}

#transaction-load-failed, #transaction-failed{
    background-color: #F48989;
}
#transaction-success{
    background-color: #EDF9F0;
}
#transaction-process{
    background-color: #FFF4EC;
}
.alert{
    padding:5px;
}
</style>
{% endblock header %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-xl-4 xl-h-100 landing-sidebar justify-content-between">
            <div class="d-flex flex-column justify-content-between h-100">
                <div>
                    <div class="mb-4">
                        <h4 class="logo text-light">FOOQey Shop</h4>
                    </div>
                    <div>
                        <h1 class="display-4 text-light landing-sidebar-lead font-weight-bold">Browse our <br/> catalogue!</h1>
                    </div>
                    <div>
                        <h1 class="text-light h4 mt-3" style="max-width: 70%">And get special prices for your daily needs.</h1>
                        <div class="d-flex flex-column align-items-start mt-5">
                            <a href="transaksi_cepat/history/"><button class="landing-button">QUICK TRANSACTIONS</button></a>
                            <a href="/transaction"><button class="landing-button">TRANSACTIONS</button></a>
                            <a href="#katalog-list"><button class="landing-button">CATALOGUES</button></a>
                            <a href="#"><button class="landing-button">VOUCHERS</button></a>
                            <!-- Button trigger modal -->
                            <button type="button" class="landing-button btn-modal" data-toggle="modal" onclick="showKeranjang()" data-target="#exampleModal">
                                VIEW CART
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-auto lg-h-100 flex-grow-1">
            <div id="katalog-list" class="d-flex flex-column justify-content-center h-100">
               <div class="pr-5 mt-5 d-flex flex-row justify-content-end nav-fooq">
                  {% if request.user.username %}
                  <p class="h4">Hello, {{ request.user.username }}</p>
                  <a class="h4" href="{% url 'logout' %}"><p>Logout</p></a>
                  {% else %}
                  <a class="h4" href="{% url 'login' %}"><p>Login</p></a>
                  {% endif %}
               </div>
               <div class="katalog-list d-flex justify-content-center align-items-center h-100">
                {% for barang in data %}
                <div class="katalog-card">
                    <img src="https://via.placeholder.com/300" alt="placeholder">
                    <div class="info py-3 px-3">
                        <div class="d-flex justify-content-between">
                            <h4><a href="/product_info/{{ barang.pk }}">{{ barang.nama }}</a></h4>
                            <p>{{ barang.harga }}</p>
                        </div>
                        <div>
                            <p>{{ barang.deskripsi }}</p>
                        </div>
                        <a href="/transaction/checkout/{{ barang.pk }}" id="buyButton{{ barang.pk }}"><button>BUY</button></a>
                        <button class="btn-addtocart ml-3" id="{{barang.id}}">ADD TO CART</button>
                    </div>
                </div>
                {% endfor %}
               </div>
            </div>
        </div>

        <!-- Modal for Keranjang -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="cart-modal modal-body d-flex flex-column justify-content-center">
                      {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                        <!-- Button trigger modal transaksi cepat -->
                        <button type="button" class="btn-modal btn btn-primary" id="transaksi-cepat-load-btn" data-dismiss="modal" data-toggle="modal"  data-target="#transaksiModal">
                            BUY
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Transaksi Cepat-->
        <div class="modal fade" id="transaksiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="cart-modal modal-body d-flex flex-column justify-content-center">
                        <div id="transaction-content-container">
                            <div class="hidden" id="transaction-load-success">
                                <p>Are you sure you want to purchase all items in your cart?</p>
                                <table id="transaksi-table"></table>
                                <p>Total: <span id="total-price"></span></p>
                            </div> 
                            <div class="hidden alert" id="transaction-load-failed"></div>
                            <div class="hidden alert" id="transaction-success"></div>
                            <div class="hidden alert" id="transaction-failed"></div>
                            <div class="hidden alert" id="transaction-process">Transaction in progress</div>
                        </div>
            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal btn btn-secondary" id="transaksi-cepat-cancel-btn" data-dismiss="modal" data-toggle="modal" onclick="showKeranjang()" data-target="#exampleModal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary" id="transaksi-cepat-execute-btn">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'keranjang/keranjang.js' %}"></script>
<script type="text/javascript" src="{% static 'transaksi_cepat/transaksi_cepat.js' %}"></script>
{% endblock script %}
