<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #272442;">
    <a class="navbar-brand" href="/" style="color: antiquewhite;">FOOQEY SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse flex-grow-0" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: antiquewhite;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#catalogue" style="color: antiquewhite;">Catalogue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'transaction' %}" style="color: antiquewhite;">Transactions</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: antiquewhite;" data-toggle="modal" onclick="showKeranjang()" data-target="#exampleModal">Cart</a>
          </li>
      </ul>
    </div>
  </nav>
        <!-- Modal for Keranjang -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="cart-modal modal-body d-flex flex-column justify-content-center">
                      {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                        <!-- Button trigger modal transaksi cepat -->
                        <button type="button" class="btn-modal btn btn-primary" id="transaksi-cepat-load-btn" data-dismiss="modal" data-toggle="modal"  data-target="#transaksiModal">
                            BUY
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Transaksi Cepat-->
        <div class="modal fade" id="transaksiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="cart-modal modal-body d-flex flex-column justify-content-center">
                        <div id="transaction-content-container">
                            <div class="hidden" id="transaction-load-success">
                                <p>Are you sure you want to purchase all items in your cart?</p>
                                <table id="transaksi-table"></table>
                                <p>Total: <span id="total-price"></span></p>
                            </div> 
                            <div class="hidden alert" id="transaction-load-failed"></div>
                            <div class="hidden alert" id="transaction-success"></div>
                            <div class="hidden alert" id="transaction-failed"></div>
                            <div class="hidden alert" id="transaction-process">Transaction in progress</div>
                        </div>
            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal btn btn-secondary" id="transaksi-cepat-cancel-btn" data-dismiss="modal" data-toggle="modal" onclick="showKeranjang()" data-target="#exampleModal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary" id="transaksi-cepat-execute-btn">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
