{% extends 'base.html' %}
{% load static %}

{% block title %}FOOQEY SHOP - Welcome{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
{{ block.super }}
<div>
    <h1>Under Construction</h1>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
