{% extends 'base.html' %}
{% load static %}

{% block title %}Fooqey Shop - Check Out{% endblock title %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'transaction/transaction.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'transaction/checkout.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock header %}

{% block content %}
{{block.super}}
<div class="mx-5 my-3 main-checkout">
    <div class="title-checkout">
        <h2>Check Out</h2>
    </div>

    <p><strong>* Please fill out the form below to proceed to check out</strong></p>

    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="namaPembeli">Name</label>
              {{ form.namaPembeli }}
              <!-- <input class="form-control" type="text"  name="namaPembeli" placeholder="Enter your name"> -->
            </div>
            <div class="form-group">
              <label for="kodeKupon">Coupon Code</label>
              {{ form.kodeKupon }}
              <!-- <input type="text" class="form-control" for="kodeKupon" name="kodeKupon" placeholder="Enter the code of the coupon you wish to apply"> -->
            </div>

            <div class="d-flex container">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Kupon berapa persen?</span>
                    </div>
                    <input type="text" class="form-control" id="persen" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div>
                    <a class="btn btn-success" id="cariKupon" style="color: white;">Cari!</a>
                </div>
            </div>

            <div class="dropdown container d-flex justify-content-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                        Kupon!
                    </span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="listKupon">
                    <p>Cari kupon dulu!</p>
                </div>
            </div>
        
            <div class="itemProduct mt-5 p-3">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid" src="https://via.placeholder.com/300">
                    </div>
                    <div class="col-5">
                        <div class="d-flex h-100">
                            <div class="flex-wrapper d-flex flex-column justify-content-center align-self-md-center align-self-start">
                                <strong class="itemTitle">{{barang1.nama}}</strong>
                                <p class="itemPrice">Rp {{barang1.harga}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 d-flex align-items-center justify-content-between">
                        <div class="row w-100">
                            <div class="col-12 pr-0 text-right totalPrice">
                                <span class="d-block"><strong>Total : <br> Rp {{barang1.harga}} </strong></span>
                                <!-- <span class="d-block mt-2" style="color: rgb(129, 43, 43);"><strong>Grand Total : <br> Rp {{subtotal}} </strong></span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
    
            <div class="mt-5 container">
                <div class="row" style="justify-content: flex-end;">
                    <input type=submit class="col-3 btn-checkout" value="Check Out">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
$(document).ready(function () {
    $("#cariKupon").click(function() {
        var searchedCoupon = $("#persen").val();
        console.log("Searched coupon percent: " + searchedCoupon + "%");

        if (searchedCoupon == "") {
            alert("Isi persenan kupon terlebih dahulu!");
        } else {
            $("#listKupon").empty();

            $.get(`/transaction/cariKupon/${searchedCoupon}`, function(data) {
                console.log(data)
                for (var kupon of data.kuponList) {
                    console.log(kupon.kode)
                    $("#listKupon").append (
                        `<a class="dropdown-item ${kupon.kode}" href="#" kode="${kupon.kode}">${kupon.kode}</a>`
                    )
                }

            })

        }
    })

    $("#listKupon").click(function(event) {
        kuponTarget = event.target;

        if ($(kuponTarget).hasClass("dropdown-item")) {
            console.log("jalan bos")
            var kode = $(kuponTarget).attr("kode");
            console.log(kode);

            var buttonDD = $("#dropdownMenuButton");


            $("#dropdownMenuButton").text(`${kode}`);

            $("#id_kodeKupon").val(`${kode}`);
        }
    })
})
</script>
{% endblock script %}




