{% extends 'base.html' %}
{% load static %}

{% block title %}FOOQEY SHOP - Transaction History{% endblock title %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'transaction/transaction.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock header %}

{% block content %}
{{block.super}}
<div class="mx-5 my-3 main-title">
    <div>
        <h2>Transaction History</h2>
        <!-- <a href="{% url 'checkout' %)">checkout</a> -->
    </div>

    <div class="mt-5 d-flex flex-column">
        <div class="row justify-content-center ml-1 title">
            <div class="col">
                <p>Order</p>
            </div>
            <div class="col">
                <p>Name</p>
            </div>
            <div class="col">
                <p>Date</p>
            </div>
            <div class="col">
                <p>Item</p>
            </div>
            <div class="col">
                <p>Coupon</p>
            </div>
            <div class="col">
                <p>Subtotal</p>
            </div>
        </div>

        {% for transaction in transactions %}
        <div class="card entry my-3 mr-5">
            <div class="card-body row">
                <p class="col">{{transaction.id}}</p>
                <p class="col">{{transaction.pembeli}}</p>
                <p class="col">{{transaction.tanggal}}</p>
                <p class="col">{{transaction.Barang.nama}}</p>
                <p class="col">{{transaction.kupon.kode}}</p>
                <p class="col">{{transaction.total}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
