.main-checkout{
    font-family: 'Roboto', sans-serif;
    line-height: 29px;
}

.title-checkout {
    font-size: 25px;
    font-weight: bold;
}

.itemProduct {
    border-top: 3px solid rgba(152, 151, 151, 0.5);;
    border-bottom: 3px solid rgba(152, 151, 151, 0.5);
}

.itemTitle {
    font-weight:900;
    font-size: 20px;
}

.itemPrice {
    font-weight:500;
    font-size: 15px;
}

.totalPrice {
    font-weight:700;
    font-size: 18px;
}

.btn-checkout {
    background-color: rgba(152, 151, 151, 0.5);
    border-radius: 15px;
}